@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: Hanken Grotesk Variable, Hanken Grotesk Fallback;
    --background: 230, 35%, 7%;
    --foreground: 0 0% 100%;

    --muted: 223 47% 30%;
    --muted-foreground: 231, 77%, 90%;

    --popover: 230, 35%, 7%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 230, 35%, 7%;
    --card-foreground: 0 0% 100%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 94%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}
